/*importataan fontti google fonteista*/
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@500&display=swap');
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
/*määritetään opacity jota käytämme myöhemmin kellossa*/
:root{
    --opacity: 0.1;
    --inset-opacity: 0.5;
}
/*määritellään bodyn väri, fontti ja koko*/
body{
    background-color: #191919;
    font-family: 'Oswald', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
/*napille teema, koko ja border*/
.theme{
    position: relative;
    display: flex;
    margin: auto;
    top: 3%;
    border: 3px solid #1ab2db;
    background-color: #1f1f1f;
    border-radius: 12px;
    padding: 10px 15px 10px 15px;
    font-size: 20px;
    color: #fff;
}
/*jos hoveraat cursoria napin päällä niin opacit*/
.theme:hover{
    opacity: 0.8;
}
/*time elementin väri ja fonttikoko*/
.time{
    font-size: 75px;
    color: #1ab2db;
}
/*Date elementin väri ja koko*/
.date{
    color: #fff;
    font-size: 25px;
}
/*Määritellään miten asiat näkyvät containerin sisällä*/
.container{
    display: flex;
    margin-top: 8rem;
    flex-direction: column;
    align-items: center;
}
.container22{
    width: 400px;
    height: 320px;
}
/*Määritellään analogisen kellon koko ja border*/
.clock{
    height: 200px;
    width: 200px;
    border-radius: 50%;
    box-shadow: 0px 0px 25px 1px rgba(255,255,255,var(--opacity)), 2px 2px 20px
    3px rgb(255, 255, 255,var(--inset-opacity)) inset;
    border: 6px solid white;
    margin-bottom: 10px;
    position: relative;
}
/*Viisareiden paikka*/
.hand{
    position: absolute;
    top: 50%;
    left: 50%;
    transform-origin: bottom center;
}
/*Tunti viisarin väri, pituus ja paksuus*/
.hand.hour{
    background-color: #9d9d9d;
    width: 5px;
    height: 65px;
    transform: translate(-50%, -100%) rotate(0deg);
}
/*Minuutti viisarin väri, pituus ja paksuus*/
.hand.minute{
    background-color: #9d9d9d;
    width: 3px;
    height: 75px;
    transform: translate(-50%, -100%)rotate(0deg);
}
/*Sekuntti viisarin väri, pituus ja paksuus*/
.hand.second{
    background-color: #d82424;
    width: 2px;
    height: 80px;
    transform: translate(-50%, -100%)rotate(0deg);
}
/*Keskikohta kellolle*/
.centerpoint{
    position: absolute;
    top: 50%;
    left: 50%;
    height: 10px;
    width: 10px;
    transform: translate(-50%, -50%);
    background-color: #d82424;
    border-radius: 50%;
}